<?xml version="1.0"?>
<!--
/**
 * © Ratnakanthan
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Helper\Category">
        <plugin name="canonicalTagCategories" type="Heron\Seo\Plugin\Helper\CanUseCanonicalTagForCategories"/>
    </type>
    <type name="\Magento\Catalog\Helper\Product">
        <plugin name="canonicalTagCategories" type="Heron\Seo\Plugin\Helper\CanUseCanonicalTagForProducts"/>
    </type>
</config>