<?xml version="1.0"?>
<!--
/**
 * © Ratnakanthan
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Heron_Seo" setup_version="2.0.1">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Heron_Core"/>
            <module name="Magento_GoogleAnalytics"/>
        </sequence>
    </module>
</config>
