<?xml version="1.0"?>
<!--
/**
 * © Ratnakanthan
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="seo" frontName="seo">
            <module name="Heron_Seo" before="Magento_Backend"/>
        </route>
    </router>
</config>
